@mixin flexbox-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexbox-between-center {

	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin filter-buttons {
	@extend .btn;
	@include flexbox-between-center()
}